* {
    box-sizing: border-box;
}

body {
    font-family: Abadi Extra Light;
    font-weight: 300;
    font-size: 12 px;
    line-height: 1.1;
    color: #E1E6ED;
    background-color: #A081DB;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
}

a {
    color: #94A4D6;
    text-decoration: none;
}

a:hover {
    color: #887CC2;
}
