/* main.css */

/* Changer la couleur du texte */
h1 {
    color: blue;
}

/* Modifier la taille des textes */
p {
    font-size: 14px;
}

/* Ajouter une marge intérieure au header */
header {
    padding: 10px;
}

/* Ajouter une marge extérieure au footer */
footer {
    margin-top: 10px;
}

/* Changer l'alignement du texte */
.text-center {
    text-align: center;
}

/* Appliquer une image de fond à la page */
body {
    background-color: lightgray;
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
}

/* Ajouter un effet au lien */
nav a {
    color: black;
    text-decoration: none;
}
nav a:hover {
    color: red;
    text-decoration: underline;
}

/* Ajouter la bordure d'un élément */
section {
    border: 1px solid gray;
    padding: 10px;
}
